---
import Layout from "../Layout.astro";
import PrevNext from "./PrevNext.astro";
import Author from "./Author.astro";
import Rocket from "./Rocket.astro";
import CommentForm from "./CommentForm.astro";
import Comments from "./Comments.astro";
import generateTOC from "./generateTOC.js";
import Time from "../../components/Time.astro";
import Taxonomy from "../../components/Taxonomy.astro";
import { minify } from "terser";
import fs from "node:fs";

import { createRequire } from "node:module";
const moduleRequire = createRequire(import.meta.url);
const { JSDOM } = moduleRequire("jsdom");

const { title, post, prevNext } = Astro.props;

const { document } = new JSDOM(post.content.rendered).window;

const TOC = generateTOC(document);

// const script = fs.readFileSync("src/scripts/postlayout.js", "utf-8");
// const { code } = await minify(script);
---

<Layout title={title}>
  <div
    slot="wave"
    class="bg-gradient-to-b from-blue-200 to-[#b9daff] px-16 py-8"
  >
    <h1 class="pacific !text-red-700">{title}</h1>
    <div class="text-lg text-gray-700 italic">
      By {post._embedded.author[0].name + " • "}
      <Time time={post.modified} />
    </div>
  </div>

  <div class="flex md:flex-col">
    <section class="content flex flex-col w-2/3 md:w-full p-8">
      <div>
        <article id={post.id}>{document.body.innerHTML}</article>
        <div class="flex flex-wrap justify-between items-center italic gap-4 py-4">
          <Time time={post.date} />
          <Time time={post.modified} modified />
          <Taxonomy term="topic" array={post._embedded["wp:term"][0]} />
          <Taxonomy term="tag" array={post._embedded["wp:term"][1]} />
        </div>
      </div>
      <PrevNext data={prevNext} />

    </section>
    <section class="sidebar md:min-h-0 min-h-screen sticky top-0 self-start w-1/3 md:w-full px-8 py-16">
      <h2 class="pacific toc">Table Of Contents</h2>
      {TOC}
      <Rocket />
    </section>
  </div>

  <section class="non-content max-w-3xl mx-auto p-8 pt-0">
    <Author author={post._embedded.author[0]} />
    <CommentForm />
    <Comments />
  </section>

  <!-- {`<script>${code}</script>`}   -->
  <script src={Astro.resolve("../../scripts/postlayout.js")}></script>
</Layout>
