---
import Layout from "../layouts/Layout.astro";
import PostLayout from "../layouts/PostLayout/PostLayout.astro";
import fetchWPData from "../data/data.js";

export async function getStaticPaths({ rss }) {
  const posts = await fetchWPData();
  const legalDocs = await fetchWPData(true);

  rss({
    title: "Soft Hard System",
    description:
      "A blog by Rafid Muhymin Wafi on Software, Hardware and System (Code)",
    items: posts.map((item) => ({
      title: item.title.rendered,
      description: item.uagb_excerpt.slice(0, -8),
      link: item.slug,
      pubDate: item.date,
    })),
  });

  return [...posts, ...legalDocs].map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        isPost: posts.includes(post),
        post,
        prevNext: {
          prev: posts[posts.indexOf(post) + 1],
          next: posts[posts.indexOf(post) - 1],
        },
      },
    };
  });
}

const { isPost, post, prevNext } = Astro.props;
const title = post.title.rendered;
const content = post.content.rendered;

const { name: description } = post.head_tags.find(
  (tag) => tag.attributes?.name === "description"
).attributes;
---

{isPost ? <PostLayout title={title} post={post} prevNext={prevNext} description={description} /> : <Layout title={title} description={description}>
    <div class="p-12">{content}</div>
  </Layout>}
