---
import Layout from "../layouts/Layout.astro";

const author = (global.authorData = global.authorData
  ? global.authorData
  : await (
      await fetch("https://wp.softhardsystem.com/wp-json/wp/v2/users/1")
    ).json());
---

<Layout title="Rafid Muhymin Wafi" description={author.description}>
  <div class="p-6 max-w-xl mx-auto">
    <figure class="mx-auto">
      <img
        loading="lazy"
        class="rounded-full"
        width="576"
        height="576"
        src={author.avatar_urls["24"].replace("s=24", "s=576")}
        alt={author.name} />
      <figcaption>{author.name}</figcaption>
    </figure>
    <h1 class="pacific text-center">Hi, I'm {author.name}!</h1>
    <p class="text-center">{author.description}</p>
  </div>
</Layout>
