---
const { time, modified } = Astro.props;
const dateString =
  "`${dateArray[0]}, ${dateArray[1]} ${dateArray[2]}, ${dateArray[3]}`";
const dateArray = new Date(`${time}Z`).toDateString().split(" ");
const date = `${dateArray[0]}, ${dateArray[1]} ${dateArray[2]}, ${dateArray[3]}`;
---

<span class="inline-block">
  {`${modified ? "Last Updated" : "Published"} : `}
  <time dateTime={`${time}Z`}>
    {`<script>
      (() => {
        const dateArray = new Date("${time}Z").toDateString().split(" ");
        document.currentScript.parentElement.textContent = ${dateString};
      })();
    </script>`}
    <noscript>{date}</noscript>
  </time>
</span>
