---
import Layout from "./Layout.astro";
import Time from "../components/Time.astro";
import Taxonomy from "../components/Taxonomy.astro";
import Pushable from "../components/Pushable.astro";
import fetchWPData from "../data/data.js";

const { slug, name, tag } = Astro.props;

const posts = await fetchWPData();

const taxonomy = posts.filter((post) =>
  post._embedded["wp:term"][tag ? 1 : 0].some((t) => t.slug === slug)
);
---

<Layout title={`Category ${name}`}>
  <div class="taxonomy max-w-2xl p-6 mx-auto">
    <h1 class="pacific flex flex-col items-center gap-2">
      {name}
      <small>{taxonomy.length} Articles Found</small>
    </h1>
    <div class="flex flex-col gap-8 p-6">
      {taxonomy.map((post) => {
        const { title, slug, modified, uagb_excerpt } = post;
        const { source_url, alt_text } = post._embedded["wp:featuredmedia"][0];
        return (
          <section>
            <a href={`/${slug}`}>
              <img loading="lazy" src={source_url} alt={alt_text} />
            </a>

            <h2>
              <a href={`/${slug}`}>{title.rendered}</a>
            </h2>

            <p>{uagb_excerpt.slice(0, -8)}</p>

            <div class="flex flex-wrap justify-between items-center gap-2 pt-2 pb-6">
              <Time time={modified} />
              <Taxonomy term="category" array={post._embedded["wp:term"][0]} />
              <Taxonomy term="tag" array={post._embedded["wp:term"][1]} />
            </div>
            
            <Pushable slug={slug} />
          </section>
        );
      })}
    </div>
  </div>
</Layout>
